<% if @recipe.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-hearing"><%= pluralize(@recipe.errors.count, "error") %></h4>
    <p><%= pluralize(@recipe.errors.count, "error") %> prohibited this object from being saved: not successfully</p>
    <hr>
    <p class="md-0">
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </p>
  </div>
<% end %>

<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2>新規投稿</h2>
      <%= form_with model: @recipe, local:true do |f| %>
        <div class="form-group">
          <label>レシピ名</label>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <label>作り方</label>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <div>
          <%= f.submit class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>